name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 7 * * 1"

jobs:
  run-tests:
    name: Style checks and tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v4

      - run: pip install .[style,test]
        name: Install simplefem
      - run: python3 -m mypy .
        name: Run mypy checks

      - run: |
          python3 -m ruff check .
          python3 -m ruff format --check .
        name: Run ruff checks

      - run: python3 -m pytest test
        name: Run unit tests
